p{
    background-color: aquamarine;
}
a{
    background-color: red;
}
div{
    background-color: yellowgreen;
}
span{
    background-color: rgb(168, 97, 97);
}
body{
    background-color: rgb(183, 93, 93);
}